# Ignore the virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variable files
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
